@page "/"

@inject HttpClient http

@if (SalesRevenue == 0 && Outstanding == 0)
{
    <p>Interrogation du serveur...</p>
}
else
{

    <h1>Your activity</h1>

    <h2>Sales revenues : <strong>@SalesRevenue.ToString("€ 0.00")</strong></h2>

    <h2>Outstanding : <strong>@Outstanding.ToString("€ 0.00")</strong></h2>
}

@code {

    private decimal SalesRevenue = 0;
    private decimal Outstanding = 0;

    protected override async Task OnInitializedAsync()
    {
        SalesRevenue = await http.GetFromJsonAsync<decimal>("api/salesrevenue");
        Outstanding = await http.GetFromJsonAsync<decimal>("api/outstanding");
    }
}

